:root {
    --body-bg-color: #24273a;
    --font-color: #cad3f5;
    --item-box-border-color: #c6a0f6;
    --item-box-bg-color: #363a4f;
    --button-bg-color: #b7bdf8;
    --button-hover-bg-color: #c6a0f6;
    --button-text-color: #181926;
    --rating-bar-bg-color: #1e2030;
    --rating-bar-filled-color: #a6da95;
}
