:root {
    --body-bg-color: #002b36;
    --font-color: #839496;
    --item-box-border-color: #6c71c4;
    --item-box-bg-color: #073642;
    --button-bg-color: #2aa198;
    --button-hover-bg-color: #268bd2;
    --button-text-color: #586e75;
    --rating-bar-bg-color: #93a1a1;
    --rating-bar-filled-color: #859900;
}
